<header>
    <nav>
        <ul>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/arrivals">ALL PRODUCTS</a></li>
        </ul>
    </nav>
    <div class="logo">
        <a href="/">
            <img src="assets/Header and Footer/title.png" alt="Logo">
        </a>
    </div>
    <div class="icons">
        <img src="assets/Header and Footer/search.png" alt="Search">
        <a href="/cart"><img src="assets/Header and Footer/cart.png" alt="Cart"></a>
        <a href="/profile"><img src="assets/Header and Footer/profile.png" alt="Profile"></a>
    </div>
</header>