<footer>
    <div class="copyright">
        <img src="assets\Header and Footer\copyright.png" alt="Image">
    </div>
    <div class="footer-center">
        <img src="assets\Header and Footer\logo.png" alt="Logo">
        <p>expression in threads.</p>
    </div>
    <div class="socials">
        <a href="https://www.facebook.com"><img src="assets\Header and Footer\fb.png" alt="FaceBook"></a>
        <a href="https://www.instagram.com"><img src="assets\Header and Footer\ig.png" alt="Instagram"></a>
        <a href="https://mail.google.com/mail/"><img src="assets\Header and Footer\email.png" alt="E-Mail" class="email"></a>
    </div>
</footer>