.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    width: 40%;
    text-align: center;
    margin-left: 14%;
}

.profile-picture h2 {
    margin-bottom: 20px;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    width: 60%;
    padding: 20px;
    background-color: #343131;
    margin-left: 20%;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
}

.form-field input {
    width: 80%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #504E4E;
    color: white;
    font-size: 18px ;
}

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #ccc;
    overflow: hidden;
    border-radius: 30px;
    color: #ccc;
    transition: all 0.5s ease-in-out;
    margin-top: 15px;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #ccc;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.button:hover {
    box-shadow: 1px 1px 200px #ccc;
    color: #fff;
    border: none;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}
