<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="assets/Home/pexels-foi-international-351919-1036396.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="assets/Home/pexels-foerder-zone-441814813-17801445.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="assets/Home/pexels-hoinommm-19473897.jpg" style="width:100%">
    </div>
</div>
<br>
<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<div class="buy-container">
    <a href="/categories#tops">
        <img src="assets\Home\shopTops.png" alt="shopTops" class="buyBanner">
    </a>
    <a href="/categories#bottoms">
        <img src="assets\Home\shopBottoms.png" alt="shopBottoms" class="buyBanner">
    </a>
    <a href="/categories#shoes">
        <img src="assets\Home\shopShoes.png" alt="shopShoes" class="buyBanner">
    </a>
</div>