.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.buy-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: center;
}

.buyBanner {
    width: 98%;
    transition: transform 0.3s ease-in-out;
}

.buyBanner:hover {
    transform: scale(1.1);
}